<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
/>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header>
    <%- include('partials/header.ejs') %>
  </header>

  <div class="content">
    <div class="post-container container" id="cont">
      <h1 class="post-title">Contact Us</h1>
      <div class="post-content">
        <p>We would love to hear from you! Reach out to us using the contact details below:</p>
        <ul>
          <li>Email: koolasspanda@gmail.com</li>
        </ul>
        <p>Feel free to drop us an email. Our team is ready to assist you!</p>
      </div>
    </div>
    
    
  </div>

  <footer>
    <%- include('partials/footer.ejs') %>
  </footer>

</body>
</html>
