<header>
    <%- include('partials/header.ejs') %>
  </header>

  <div class="content">
   
   
    <p><%= contact %></p>
  </div>

  

  <footer>
    <%- include('partials/footer.ejs') %>
  </footer>