<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
  />

</head>
<style>
  .post-content {
    word-wrap: break-word;
  }

  
  html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .content {
      padding: 20px;
      min-height: calc(100% - 50px); /* Subtract footer height */
      box-sizing: border-box;
    }

    .footer {
      background-color: #f8f9fa;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }

</style>
<body>

    <header><%- include('partials/header.ejs') -%></header>

    <div class="content">
        <div class="post-container container " id="cont">
            <h1 class="post-title"><%= Title %></h1>
            <p class="post-content"><%= Content %></p>
        </div>
    </div>

    <footer class="footer">
        Made with ❤️ By Gaurav.
    </footer>    
</body>
</html>
