<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
  />

</head>
<style>
  .post-content {
    word-wrap: break-word;
  }
</style>
<body>

    <header><%- include('partials/header.ejs') %></header>
    <div class="content">
        <div class="post-container container " id="cont">
            <h1 class="post-title"><%= Title %></h1>
            <p class="post-content"><%= Content %></p>
        </div>
    </div>

    <footer><%- include('partials/footer.ejs') %></footer>
    
</body>
</html>
