html, body {
    height: 100%;
    background-color: #3769b3;

    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  body {

    display: flex;
    flex-direction: column;
    margin: 0; /* Remove default body margin */
  }
.content {
    flex: 1;
    padding: 20px; /* Add padding for content */
  }
.post-container {
    word-wrap: break-word; /* Break long words to fit within the container */
  }
  .post-title {
    margin-top: 20px; /* Add margin between post titles */
  }
  .post-content {
    margin-bottom: 20px;
    
     /* Add margin between post contents */
  }

  .container {
    display: flex;
    
  }

  #cont{
    display: flex;
    flex-direction: column;
  }




  

 